---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import OfficeListings from '../components/OfficeListings.astro';
import Testimonials from '../components/Testimonials.astro';
// import Pricing from '../components/Pricing.astro';
import CallToAction from '../components/CallToAction.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="LatinoSpace | Premium Office Rentals">
	<Navbar />
	<main>
		<!-- Hero Section -->
		<Hero />

		<!-- Features Section -->
		<Features />

		<!-- Office Listings Section -->
		<OfficeListings />

		<!-- Testimonials Section -->
		<Testimonials />

		<!-- Pricing Section -->
		<!-- <Pricing /> -->

		<!-- Call to Action Section -->
		<CallToAction />

		<!-- Contact Section -->
		<Contact />
	</main>
	
	<Footer />
	

	
</Layout>
