---
import { Icon } from 'astro-icon/components';
---

<section id="contact" class="section">
   <div class="container">
      <div class="has-text-centered mb-6">
         <h2 class="title is-2">Get in Touch</h2>
         <p class="subtitle is-5 has-text-grey">Have questions? We're here to help.</p>
      </div>

      <div class="columns">
         <div class="column is-4">
            <div class="box has-text-centered">
               <span class="icon is-large has-text-primary mb-4">
                  <Icon name="tabler:map-pin" class="is-size-1" />
               </span>
               <h3 class="title is-4">Visit Us</h3>
               <p>Latino Support LCSW, P.C.<br>43-22 50th street #2C<br>Woodside, N.Y. 11377</p>
            </div>
         </div>

         <div class="column is-4">
            <div class="box has-text-centered">
               <span class="icon is-large has-text-primary mb-4">
                  <Icon name="tabler:phone" class="is-size-1" />
               </span>
               <h3 class="title is-4">Call Us</h3>
               <p><a href="tel:+17185051531" class="has-text-primary">+1 718-505-1531</a><br>Monday-Friday: 9am-6pm<br>Saturday: 10am-4pm</p>
            </div>
         </div>

         <div class="column is-4">
            <div class="box has-text-centered">
               <span class="icon is-large has-text-primary mb-4">
                  <Icon name="tabler:mail" class="is-size-1" />
               </span>
               <h3 class="title is-4">Email Us</h3>
               <p><a href="mailto:info@latinospace.com" class="has-text-primary">info@latinospace.com</a><br><a href="mailto:office@latinospace.com" class="has-text-primary">office@latinospace.com</a><br>&nbsp;</p>
            </div>
         </div>
      </div>
   </div>
</section>