---
import { Icon } from 'astro-icon/components';
---

<section id="features" class="section">
    <div class="container">
        <div class="has-text-centered mb-6">
            <h2 class="title is-2">Why Choose  LS Professional Offices</h2>
            <p class="subtitle is-5 has-text-grey">Discover the benefits of our premium office spaces</p>
        </div>

        <div class="columns is-centered mt-6">
            <div class="column is-3-desktop is-6-tablet">
                <div class="box has-text-centered has-height-100">
                    <span class="icon is-large has-text-primary mb-4">
                        <Icon name="tabler:sofa" class="is-size-1" />
                    </span>
                    <h3 class="title is-4">Comfortable spaces</h3>
                    <p class="has-text-grey">Workspaces designed for productivity. Enjoy modern facilities.</p>
                </div>
            </div>

            <div class="column is-3-desktop is-6-tablet">
                <div class="box has-text-centered has-height-100">
                    <span class="icon is-large has-text-primary mb-4">
                        <Icon name="tabler:wifi" class="is-size-1" />
                    </span>
                    <h3 class="title is-4">High-Speed Internet</h3>
                    <p class="has-text-grey">Enterprise-grade connectivity for seamless operations.</p>
                </div>
            </div>

            <div class="column is-3-desktop is-6-tablet">
                <div class="box has-text-centered has-height-100">
                    <span class="icon is-large has-text-primary mb-4">
                        <Icon name="tabler:calendar" class="is-size-1" />
                    </span>
                    <h3 class="title is-4">Flexible Terms</h3>
                    <p class="has-text-grey">Daily, monthly, or yearly contracts to suit your needs.</p>
                </div>
            </div>

        
        </div>
    </div>
</section>