---
import { Icon } from 'astro-icon/components';
---

<footer class="footer has-background-dark has-text-white">
   <div class="container">
      

      <div class="has-text-centered pt-5">
         <p>&copy; {new Date().getFullYear()}  LS Professional Offices . All rights reserved.</p>
      </div>
   </div>
</footer>