
<section class="hero is-medium is-primary">
    <div class="is-overlay has-background-dark" style="opacity: 0.4;"></div>
    <div class="hero-body ">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6">
                    <h1 class="title is-2 has-text-white">
                        Your Perfect Office Space Awaits
                    </h1>
                    <h2 class="subtitle is-4 mt-3 mb-5 has-text-white">
                        Flexible, modern workspaces designed for productivity and collaboration.
                    </h2>
                    <div class="buttons">
                        <a href="tel:+17185051531" class="button is-white is-rounded is-large" target="_blank">
                            <strong>Book Now</strong>
                        </a>
                        <!-- <a href="https://wa.me/+17185051531" target="_blank" class="button is-success is-light is-rounded is-large">
                            <strong>WhatsApp</strong>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .hero {
        position: relative;
        background-image: url('/src/images/bg-ny-sky1.webp');
        background-size: cover;
        background-position: center;
    }

    .hero .is-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>