---
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="LS Offices New York - Servicio Premium de Alquiler de Oficinas">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="empire-state.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="has-navbar-fixed-top">
		<slot />
	</body>
</html>

